$lighter-beige:#EDE7D1;
$light-beige:#EAE2BE;
$beige: #CCC08F;
$dark-beige:#AFA169;
$darker-beige: #8C7F46;

$lighter-olive:#6D725B;
$light-olive:#4A4F3B;
$olive: #3E442A;
$dark-olive:#33381D;
$darker-olive: #252811;

$lighter-brown:#877363;
$light-brown:#6B5745;
$brown: #543E2B;
$dark-brown:#422B1A;
$darker-brown:#301D10;

$lighter-ygreen:#96946B;
$light-ygreen:#7F7E4E;
$ygreen: #686531;
$dark-ygreen:#54501D;
$darker-ygreen:#3F3B11;